<div class="container">
  <div class="card">
    <h4 class="card-header">
      Login to your account
    </h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email" class="form-label">Your email</label>
          <input type="email" formControlName="email" ngModel email class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.controls['email'].errors }" />
          <div *ngIf="submitted && loginForm.controls['email'].errors" class="invalid-feedback">
              <div *ngIf="loginForm.controls['email'].errors['required']">Email is required</div>
              <div *ngIf="loginForm.controls['email'].errors['email']">Your email is not valid.</div>
          </div>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Your password</label>
            <div class="input-group">
              <input [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.controls['password'].errors }" />
              <i class="material-icons eye-icon" (mousedown)="showPassword()" (mouseup)="hidePassword()">{{hide ? 'visibility_off' : 'visibility'}}</i>
            </div>
            <div *ngIf="submitted &&  loginForm.controls['password'].errors" class="invalid-feedback">
                <div *ngIf="loginForm.controls['password'].errors['required']">Password is required</div>
            </div>
            <span class="form-label invalid-feedback">{{ error }}</span>
        </div>

        <div class="form-btn">
          <p class="form-label register-label">No account? <a routerLink="../register">Create one</a></p>
          <button [disabled]="loading" class="submit-btn">
              <span *ngIf="loading"></span>
              Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
